<div class="task-container">
  <h2>Add new task</h2>

  <mat-card class="task-form-card">
    <form [formGroup]="taskForm" (ngSubmit)="submitForm()">
      <input type="hidden" formControlName="id">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Titlu</mat-label>
        <input style="color: darkslategray;" matInput formControlName="title" required />
        <mat-error *ngIf="taskForm.get('title')?.hasError('required')">
          Title is mandatory!
        </mat-error>
      </mat-form-field>

      <div style="width: 100%; display: flex; align-content: space-between;">
        <mat-form-field appearance="outline" >
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="datepicker" formControlName="date" required />
          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker></mat-datepicker>
          <mat-error style="padding: 0px;" *ngIf="taskForm.get('date')?.hasError('required')">
            Select a date!
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" style="margin-left: auto;">
          <mat-label>Time</mat-label>
            <input matInput [matTimepicker]="timepicker" formControlName="time" />
            <mat-timepicker-toggle matSuffix [for]="timepicker"/>
            <mat-timepicker #timepicker format="24h"/>
        </mat-form-field>
      </div>
      <app-categories [pickedCategory]="taskForm.get('category')?.value"  (categoryChange)="taskForm.get('category')?.setValue($event)"></app-categories>

      <mat-checkbox formControlName="done">Done</mat-checkbox>

      <div class="button-container">
        <button class="action-button" mat-flat-button style="color: white; background-color: rgb(98, 176, 255);"  type="button" routerLink="/tasks">Back</button>
        <button class="action-button" mat-flat-button style="color: white; background-color: rgb(238, 153, 62);" type="submit">{{taskId ? 'Edit' : 'Add'}}</button>
      </div>
    </form>
  </mat-card>
</div>
