@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Erica+One&display=swap');

html, body { height: 100%; }
body { 
  font-family: 'Inter', sans-serif;
  margin: 0;
  background-color: #f5f5f5;
  color: #333;
}
